
<div ng-controller="SupportDesk" id="SupportDeskControl">
    <!--{{ user.id }} {{ user.name }}-->
    <p><span>Ask a question</span> / <span ng-if="user.userType === 'admin'">/</span> <span ng-if="user.userType === 'admin'">view open questions</span></p>
    <div class="askQuestionPanel">
        <div class="Question">
            <h1>Ask your question below:</h1>
            <input ng-model="question" class="" placeholder="How do I..." />
            <button class="ask" ng-click="askQuestion()">Ask</button>
        </div>
    </div>
    <div class="answers">
        <umb-load-indicator ng-if="answersLoading">
        </umb-load-indicator>
        <div class="faq" ng-class="{answered: faq.Answer !==''}" ng-repeat="faq in allfaqs.slice().reverse()">
            <h3>{{faq.Question}}</h3>
            <div class="" ng-show="faq.Answer ==='' && user.userType==='admin'">
                <umb-editor model="rteProp"></umb-editor>
                <button ng-click="SubmitAnswer(faq.TicketID, faq.Question)">Answer</button>
            </div>
            <div ng-bind-html="faq.Answer" ng-if="faq.Answer !==''">
            
            </div>
            
        </div>
    </div>

</div>
